.h5peditor-dragnbar {
  font-size: 1em;
  overflow: hidden;
  padding: 0.1em 0;
  background: #fff;
}
.h5p-dragnbar-ul {
  float: right;
  margin: 0;
  list-style: none;
}
.h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
}
.h5p-dragnbar-a {
  border: 0.1em dashed #a2a6a2;
  margin-right: 0.1em;
  display: block;
  padding: 0.25em 0 0;
  line-height: 1.75em;
  width: 2.25em;
  text-align: center;
  background: #e9f1f4;
  font-family: "H5PInteractiveVideoFontAwesome";
}
.h5p-dragnbar-a, .h5p-dragnbar-a:visited, .h5p-dragnbar-a:link {
  color: #969999;
}
.h5p-dragnbar-a:before {
  content: "?";
}
.h5p-dragnbar-a:hover {
  text-decoration: none;
}
.h5p-dragnbar-text-button:before {
  content: "T";
}
.h5p-dragnbar-table-button:before {
  content: "\f0ce";
}
.h5p-dragnbar-image-button {
  background: #dce7d6;
}
.h5p-dragnbar-image-button:before {
  content: "\f03e";
}
.h5p-dragnbar-summary-button, .h5p-dragnbar-multichoice-button, .h5p-dragnbar-blanks-button {
  background: #ebebeb;
}
.h5p-dragnbar-summary-button:before {
  content: "\f0ca";
}
.h5p-dragnbar-multichoice-button:before {
  content: "\f046";
}
.h5p-dragnbar-blanks-button:before {
  content: "\f0ae";
}

.h5p-dialog-buttons {
  overflow: hidden;
}
.h5p-button {
  display: block;
  margin: 0.625em 0 0 0.625em;
  padding: 0 1em;
  background: #e6e6e6;
  border: 1px solid #dcdcdc;
  border-radius: 0.5em;
  float: right;
}
a.h5p-button:link, a.h5p-button:visited {
  color: #595655;
}
.h5p-button:hover {
  text-decoration: none;
}
.h5p-button.h5p-remove {
  background: #e6c9c9;
}
.h5p-interactive-video a:focus {
  box-shadow: none;
}

.field.wizard > div.h5peditor-label {
  display: block;
  background: #e9e9e9;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0.75em;
}
.field.wizard > div.h5peditor-label:before {
  font-family: "H5PInteractiveVideoFontAwesome";
  margin: 0 0.5em 0 0;
  content: "\f01d";
}
.h5peditor-form {
  border-radius: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #dedede;
}
div.field.wizard > .h5peditor-tabs {
  margin: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
div.field.wizard .h5peditor-tab-a {
  background: #efefef;
  margin: 0;
  color: #666666;
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  border-right: 1px #dedede solid;
  text-align: center;
}
div.field.wizard .h5peditor-tab-a:last-child {
  border-right: 0;
}
div.field.wizard .h5peditor-tab-a:before, div.field.wizard .h5peditor-tab-a:after {
  border: 0;
  position: inherit;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  font-family: "H5PInteractiveVideoFontAwesome";
  margin: 0 0.5em 0 0;
}
div.field.wizard .h5peditor-tab-a.h5peditor-active {
  background: #f9f9f9;
  border-top-color: #f9f9f9;
  border-bottom-color: #dddddd;
}
.h5peditor .common {
  background: #fff;
  border-radius: 0;
  margin: 0;
}
.h5peditor .common > .h5peditor-label {
  background: #e9e9e9;
  border-radius: 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.h5peditor-panes > .field {
  margin: 0;
  padding: 0.5em;
}
.field.interactiveVideo {
  margin: 0;
  padding: 0;
}

div.field.wizard .h5peditor-tab-video:before {
  content: "\f01b";
}
div.field.wizard .h5peditor-tab-interactions:before {
  content: "\f08d";
}
div.field.wizard .h5peditor-tab-summary:before {
  content: "\f0ca";
}